<script>
    function poll(func,delay){
        function poll_fun(){
            func(function(){
                setTimeout(function(){
                    poll_fun()
                },delay)
            })
        }
        poll_fun()
    }


    function notifyMe(title,option) {
        // 先检查浏览器是否支持
        if (!("Notification" in window)) {
            alert("This browser does not support desktop notification");
        }

        // 检查用户是否同意接受通知
        else if (Notification.permission === "granted") {
            // If it's okay let's create a notification
            var notification = new Notification(title,option);
        }

        // 否则我们需要向用户获取权限
        else if (Notification.permission !== 'denied') {
            Notification.requestPermission(function (permission) {
                // 如果用户同意，就可以向他们发送通知
                if (permission === "granted") {
                    var notification = new Notification(title,option);
                }
            });
        }


        // 最后，如果执行到这里，说明用户已经拒绝对相关通知进行授权
        // 出于尊重，我们不应该再打扰他们了
    }

//    crt_pk=9999999
//    poll(function(poll_next){
//        var post_data=[{fun:'get_warning_last_pk'}]
//        $.post('/d/ajax/dianzi_weilan',JSON.stringify(post_data),function(resp){
//            var pk = parseInt(resp.get_warning_last_pk)
//            if(crt_pk >= pk){
//                // 证明是第一次
//                crt_pk = pk
//                poll_next()
//            }else if( pk> crt_pk){
//
//                notifyMe('围栏告警', {
//                    body: '有新的围栏告警，请前往处理。'
//                });
//                if(user_msg.length==0){
//                    user_msg.push({url:'/pc/dianzi_weilan.warning',title:'有新的围栏告警，请前往处理。'})
//                }
//
//            }
//
//        })
//    },1000*20)
</script>